@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';
.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  .content-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('/assets/images/truck-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    .mask {
      position: absolute;
      width: 100%;
      background: rgb(241, 241, 241);
      background: linear-gradient(
        90deg,
        rgba(241, 241, 241, 0.99) 0%,
        rgba(241, 241, 241, 0.881127485173757) 39%,
        rgba(241, 241, 241, 0.7449930313922444) 55%,
        rgba(241, 241, 241, 0.7962535355939251) 77%,
        rgba(241, 241, 241, 0.85) 100%
      );
      top: 0;
      height: 100%;
      left: 0;
    }
    .content {
      position: relative;
      padding: 0 0 20px 0;
      z-index: 10;
      height: 100%;
      overflow-y: auto;
    }
  }
}
