<div class="wrapper">
  <app-left-navbar></app-left-navbar>
  <div class="content-bg">
    <div class="mask"></div>
    <div class="content">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
