@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

.right-bar,
.card {
  height: 100%;
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .item {
      background-color: $gray-03;
      width: 40px;
      height: 40px;
      padding: 12px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
      &.close {
        background-color: $primary;
      }
    }
  }
}
