<div class="right-bar">
  <div class="card">
    <div class="card-body">
      <div class="item close">
        <img src="assets/images/icons/close.png" />
      </div>
      <div class="item">
        <img src="assets/images/icons/info.png" />
      </div>
      <div class="item">
        <img src="assets/images/icons/stock.png" />
      </div>
      <div class="item">
        <img src="assets/images/icons/cart.png" />
      </div>
      <div class="item">
        <img src="assets/images/icons/printer.png" />
      </div>
      <div class="item">
        <img src="assets/images/icons/job_cards.png" />
      </div>
    </div>
  </div>
</div>
