<div class="page login">
  <div class="header">
    <h1 class="title mb-2">{{ 'LOGIN.TITLE' | translate }}</h1>
    <h3 class="subtitle">{{ 'LOGIN.SUBTITLE' | translate }}</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="offset-xl-7 offset-lg-5 offset-md-2 col-xl-5 col-lg-7 col-md-8">
        <div class="login-form">
          <form  class="form"  [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <div class="form-input">
                <input type="text" placeholder="{{ 'LOGIN.FORM.USERNAME' | translate }}" name="email" formControlName="email" />
                <div
                  class="error"
                  *ngIf="
                    loginForm.controls.email.invalid &&
                    (loginForm.controls.email.dirty || loginForm.controls.email.touched)
                  "
                >
                  <span class="error" *ngIf="loginForm.controls.email.errors?.email">{{
                    'ERROR_MESSAGES.INCORRECT_FORMAT' | translate
                  }}</span>
                  <span class="error" *ngIf="loginForm.controls.email.errors?.required">{{
                    'ERROR_MESSAGES.REQUIRED' | translate
                  }}</span>
                </div>
              </div>
              <img src="assets/images/btn-un-new.png" />
            </div>
            <div class="form-group">
              <div class="form-input">
                <input
                  type="password"
                  placeholder="{{ 'LOGIN.FORM.PASSWORD' | translate }}"
                  formControlName="password"
                  name="password"
                />
                <div
                  class="error"
                  *ngIf="
                    loginForm.controls.password.invalid &&
                    (loginForm.controls.password.dirty || loginForm.controls.password.touched)
                  "
                >
                  <span class="error" *ngIf="loginForm.controls.password.errors?.email">{{
                    'ERROR_MESSAGES.INCORRECT_FORMAT' | translate
                  }}</span>
                  <span class="error" *ngIf="loginForm.controls.password.errors?.required">{{
                    'ERROR_MESSAGES.REQUIRED' | translate
                  }}</span>
                </div>
              </div>
              <img src="assets/images/btn-pwd-new.png" />
            </div>
            <button type="submit"  class="btn btn-login mt-3">{{ 'BUTTONS.LOGIN' | translate }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
