@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

.login {
  height: 100vh;
  background-image: url('/assets/images/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  .header {
    background-color: rgba(3, 46, 107, 0.5);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    h1 {
      font-size: 30px;
      font-weight: 700;
      @include media-breakpoint-down(md) {
        font-size: 25px;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 300;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }
  .login-form {
    background-image: url('/assets/images/login-box-chevrons.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 450px;
    margin-top: 10%;
    padding: 10rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
      height: 400px;
    }
    @include media-breakpoint-down(sm) {
      height: 350px;
    }
    .form {
      margin-top: 5rem;
      text-align: center;
    }
    .form-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
      img {
        margin-top: 1rem;
      }
      .form-input {
        width: 230px;
        height: 55px;
        background-image: url('/assets/images/input-plate.png');
        input {
          background-color: transparent !important;
          height: 100%;
          width: 100%;
          padding-left: 15px;
          border-radius: 5px;
          color: #fff;
          font-size: 18px;
          &::placeholder {
            color: $gray-01 !important;
            font-size: 18px;
            text-transform: none !important;
            font-weight: 400;
          }
        }
      }
    }
    .btn-login {
      font-size: 20px;
      font-weight: 600;
      color: $gray-02;
      text-shadow: 3px 4px 5px #000000;
      &:hover {
        color: #fff;
      }
    }
  }
}
