<div class="header">
  <div class="left-side">
    <div class="logo">Logo</div>
  </div>
  <div class="tools">
    <i class="fas fa-cog"></i>
    <i class="far fa-question-circle"></i>
    <div class="profile">DM</div>
  </div>
</div>
