@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 15px 25px;
  .tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $gray-03;
    font-size: 25px;
    margin-right: 1rem;
    i {
      margin-right: 5px;
    }
    .profile {
      background-color: $gray-03;
      color: #fff;
      border-radius: 50px;
      font-size: 14px;
      padding: 4px;
    }
  }
}
