<div [style]="styleProps" class="header">
  <h2 class="title">{{ 'DIALOG.CREATE_JOB.TITLE' | translate }}</h2>
  <i class="far fa-times-circle" (click)="close()"></i>
</div>
<div class="body">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="{{'ASSET_REGISTRATION_NUMBER'|translate}}" />
    <span class="input-group-text">
        <i class="fas fa-search"></i>
    </span>
  </div>
</div>
<div class="footer">
    <button type="button" class="btn btn-secondary">{{'BUTTONS.SUBMIT'|translate}}</button>
</div>
