<div class="job-cards-page">
  <div class="section_1">
    <div class="filter">
      <div class="card">
        <div class="card-body">
          <h3 class="title mb-4">{{ 'JOB_CARDS.SEARCH' | translate }}</h3>
          <form  [formGroup]="filterForm">
            <div class="row">
              <div class="col-lg-2">
                <button type="button" class="btn btn-primary" (click)="createNewJob()">
                  {{ 'BUTTONS.NEW' | translate }}
                </button>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text">{{ 'JOB_CARDS.SEARCH_TERM' | translate }}:</span>
                      </div>
                      <mat-form-field class="search" appearance="fill">
                        <input matInput />
                      </mat-form-field>
                    </div>
                    <div class="date-range row">
                      <div class="col-lg-6 pe-1 ps-0">
                        <mat-form-field class="datepicker" appearance="fill">
                          <input
                            matInput
                            (click)="startPicker.open()"
                            placeholder="{{ 'JOB_CARDS.START_DATE' | translate }}"
                            [matDatepicker]="startPicker"
                          />
                          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                          <mat-datepicker #startPicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-6 ps-1 pe-0">
                        <mat-form-field class="datepicker" appearance="fill">
                          <input
                            matInput
                            (click)="endPicker.open()"
                            placeholder="{{ 'JOB_CARDS.END_DATE' | translate }}"
                            [matDatepicker]="endPicker"
                          />
                          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                          <mat-datepicker #endPicker></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="select" appearance="fill">
                      <mat-select formControlName="type">
                        <mat-option disabled="true" value="label">{{ 'ACTIONS.SHOW_ALL' | translate }}</mat-option>
                        <mat-option *ngFor="let type of jobTypes" [value]="type">
                          {{ type }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="group">
                      <mat-form-field appearance="fill">
                        <mat-select class="location" placeholder="{{'ACTIONS.LOCATIONS'|translate}}"  formControlName="location" multiple>
                          <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-checkbox class="checkbox" (change)="selectAllLocations($event)">{{'ACTIONS.ALL'|translate}}</mat-checkbox>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="group">
                      <mat-form-field class="select" appearance="fill">
                        <mat-select class="status" placeholder="{{'ACTIONS.OPEN_JOBS'|translate}}" formControlName="status" multiple>
                          <mat-option *ngFor="let item of status" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-checkbox class="checkbox" (change)="selectAllStatus($event)">{{'ACTIONS.ALL'|translate}}</mat-checkbox>
                    </div>
                    <div class="group">
                      <mat-form-field class="select" appearance="fill">
                        <mat-select class="vmu" placeholder="{{'ACTIONS.VMU'|translate}}" formControlName="vmu" multiple>
                          <mat-option *ngFor="let item of vmu" [value]="item">
                            {{ item }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-checkbox class="checkbox" (change)="selectAllVMU($event)">{{'ACTIONS.ALL'|translate}}</mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                <button type="button" class="btn btn-primary">{{ 'BUTTONS.SEARCH' | translate }}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="section_2">
    <div class="job-cards-table">
      <mat-accordion>
        <div class="row first_row">
          <div class="col-lg-8 item">
            <div class="content">
              {{ 'JOB_CARDS.JOB_STATUS' | translate }}
            </div>
          </div>
          <div class="col-lg-1 item">
            <div class="content text-center">
              {{ 'JOB_CARDS.JOBS' | translate }}
            </div>
          </div>
          <div class="col-lg-1 item">
            <div class="content text-center">
              {{ 'JOB_CARDS.LABOUR' | translate }}
            </div>
          </div>
          <div class="col-lg-1 item">
            <div class="content text-center">
              {{ 'JOB_CARDS.PARTS' | translate }}
            </div>
          </div>
          <div class="col-lg-1 item">
            <div class="content text-center">
              {{ 'JOB_CARDS.TOTAL' | translate }}
            </div>
          </div>
        </div>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div class="row second_row">
              <div class="col-lg-8 item">
                <div class="content">
                  {{ 'JOB_CARDS.OPEN_JOBS' | translate }}
                </div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">24</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="content open-jobs">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{{'JOB_CARDS.TABLE.JOB_DATE'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.JOB#'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.ASSET_ID'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.FLEET_ID'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.CUSTOMER_NAME'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.ORDER_NUMBER'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.LABOUR'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.PARTS'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.TOTAL'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of openJobs" (click)="openJobInfo(item.job_number)">
                  <td><div class="content">{{item.job_date}}</div></td>
                  <td><div class="content">{{item.job_number}}</div></td>
                  <td><div class="content">{{item.asset_id}}</div></td>
                  <td><div class="content">{{item.fleet_id}}</div></td>
                  <td><div class="content">{{item.customer_name}}</div></td>
                  <td><div class="content">{{item.order_number}}</div></td>
                  <td><div class="content">{{item.labour}}</div></td>
                  <td><div class="content">{{item.parts}}</div></td>
                  <td><div class="content">{{item.labour + item.parts}}</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div class="row third_row">
              <div class="col-lg-8 item">
                <div class="content">
                  {{ 'JOB_CARDS.PENDING_JOBS' | translate }}
                </div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">16</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="content pending-jobs">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{{'JOB_CARDS.TABLE.JOB_DATE'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.JOB#'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.ASSET_ID'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.FLEET_ID'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.CUSTOMER_NAME'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.ORDER_NUMBER'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.LABOUR'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.PARTS'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.TOTAL'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pendingJobs" (click)="openJobInfo(item.job_number)">
                  <td><div class="content">{{item.job_date}}</div></td>
                  <td><div class="content">{{item.job_number}}</div></td>
                  <td><div class="content">{{item.asset_id}}</div></td>
                  <td><div class="content">{{item.fleet_id}}</div></td>
                  <td><div class="content">{{item.customer_name}}</div></td>
                  <td><div class="content">{{item.order_number}}</div></td>
                  <td><div class="content">{{item.labour}}</div></td>
                  <td><div class="content">{{item.parts}}</div></td>
                  <td><div class="content">{{item.labour + item.parts}}</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div class="row fourth_row">
              <div class="col-lg-8 item">
                <div class="content">
                  {{ 'JOB_CARDS.CLOSED_JOBS' | translate }}
                </div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">96</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
              <div class="col-lg-1 item">
                <div class="content text-center">73,125.00</div>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div class="content closed-jobs">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{{'JOB_CARDS.TABLE.JOB_DATE'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.JOB#'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.ASSET_ID'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.FLEET_ID'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.CUSTOMER_NAME'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.ORDER_NUMBER'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.LABOUR'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.PARTS'|translate}}</th>
                  <th scope="col">{{'JOB_CARDS.TABLE.TOTAL'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of closedJobs" (click)="openJobInfo(item.job_number)">
                  <td><div class="content">{{item.job_date}}</div></td>
                  <td><div class="content">{{item.job_number}}</div></td>
                  <td><div class="content">{{item.asset_id}}</div></td>
                  <td><div class="content">{{item.fleet_id}}</div></td>
                  <td><div class="content">{{item.customer_name}}</div></td>
                  <td><div class="content">{{item.order_number}}</div></td>
                  <td><div class="content">{{item.labour}}</div></td>
                  <td><div class="content">{{item.parts}}</div></td>
                  <td><div class="content">{{item.labour + item.parts}}</div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
