@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

.job-cards-page {
  padding: 0 25px;
  .row {
    width: 100%;
  }
  .section_1 {
    margin-bottom: 4rem;
    .filter {
      .title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 15px;
      }
      button {
        background-color: $primary;
        width: 100%;
        border-color: $primary;
        font-size: 18px;
        font-weight: 500;
        height: 100%;
      }
      .group {
        position: relative;
        .checkbox {
          position: absolute;
          right: 10px;
          top: 3px;
        }
      }
    }
  }

  .section_2 {
    .job-cards-table {
      .item {
        padding: 5px;
        .content {
          border-radius: 5px;
          padding: 10px 15px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
        }
      }
      .first_row .item .content {
        background-color: #000;
        color: #fff;
      }
      .second_row .item .content {
        background-color: $gray-04;
        color: #000;
      }
      .third_row .item .content {
        background-color: $gray-03;
        color: #fff;
      }
      .fourth_row .item .content {
        background-color: $primary;
        color: #fff;
      }
      table {
        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
          border: 0 !important;
        }

        thead {
          th {
            background-color: #000;
            color: #fff;
            border-right: 1px solid $gray-06 !important;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 10px;
            &:first-child {
              border-radius: 5px 0 0 5px;
            }
            &:last-child {
              border-radius: 0 5px 5px 0;
            }
          }
        }
        tbody {
          margin-top: 5px;
          &:before {
            line-height: 0.5rem;
            content: '_';
            color: transparent;
            display: block;
          }
          tr {
            cursor: pointer;
            td {
              padding: 0 0 10px 0;
              height: 1px;
              .content {
                background-color: #fff;
                padding: 8px 15px;
                height: 100%;
              }
              &:first-child .content {
                border-radius: 5px 0 0 5px;
              }
              &:last-child .content {
                border-radius: 0 5px 5px 0;
              }
              &:not(:last-child) {
                .content {
                  border-right: 0.05rem solid $primary !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.custom-select {
  background: #bdbebf;
  border: none;
  padding: 0.4rem;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  &:focus-visible {
    outline: none;
  }
}
