@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

.edit-booking-page {
  padding: 0 25px;
  .section_1,
  .section_2,
  .section_3 {
    .card {
      height: 100%;
      .block_2 {
        margin-top: 1.6rem;
      }
      .title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      .info-item {
        background-color: $gray-04;
        border: 1px solid $gray-01;
        padding: 5px 15px;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 47px;
        .content {
          display: flex;
          flex-direction: column;
          label {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            &.bold {
              font-size: 12px;
              font-weight: 700;
              line-height: 20px;
            }
          }
          h4 {
            font-size: 13px;
            font-weight: 700;
            margin-bottom: 0;
            line-height: 16px;
          }
        }
        .icon {
          padding-left: 10px;
          border-left: 1px solid #000;
        }
      }
      .multi-booking {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        h4 {
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      .no-title {
        margin-top: 2.2rem;
      }
      button {
        font-size: 15px;
        height: 47px;
        width: 100%;
        &.close {
          border: 1px solid $gray-03;
          background-color: #fff;
          color: #000;
        }
        &.save {
          background-color: $primary;
          border-color: $primary;
        }
        &.cancel {
          background-color: $gray-03;
          border-color: $gray-03;
        }
      }
    }
  }

  .section_4 {
    .item {
      .card {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          background-color: $primary;
          border-radius: 0 0 0.25rem 0.25rem;
          bottom: 0;
          width: 100%;
          height: 10px;
        }
        .info {
          .title {
            font-size: 16px;
            font-weight: 700;
          }
          .description {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.switch-container {
  #switch {
    display: none;
  }
  .switch-label {
    position: relative;
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 20px;
    .switch-rail {
      transition: all 0.2s ease-in-out;
      position: absolute;
      width: 50px;
      height: 25px;
      background: $gray-01;
      border-radius: 50px;
      overflow: hidden;
      right: 0;
      .switch-slider {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
      }
    }
  }
  #switch:checked + .switch-label {
    .switch-rail {
      transition: all 0.2s ease-in-out;
      background: #000;
      .switch-slider {
        transition: all 0.2s ease-in-out;
        transform: translateX(23px);
      }
    }
  }
}
