<div class="edit-booking-page">
  <div class="section_1">
    <div class="row mb-3">
      <div class="col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="title">{{ 'EDIT_BOOKING.JOB_CARD' | translate }}</h3>
            <div class="info-item mb-2">
              <div class="content">
                <label>{{ 'EDIT_BOOKING.ASSET_ID' | translate }}</label>
                <h4>LK06FLAV</h4>
              </div>
              <div class="icon">
                <i class="fas fa-search"></i>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <h4>{{ 'EDIT_BOOKING.FLEET_ID' | translate }}</h4>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <h4>{{ 'EDIT_BOOKING.DRIVER_NAME' | translate }}</h4>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <h4>{{ 'EDIT_BOOKING.JOB_NUMBER' | translate }}</h4>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <label>{{ 'EDIT_BOOKING.VMU' | translate }}</label>
                <h4>VMU1</h4>
              </div>
              <div class="icon">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3">
          <div class="card-body block_2">
            <div class="info-item mb-2">
              <div class="content">
                <label>{{ 'EDIT_BOOKING.EVENT_TYPE' | translate }}</label>
                <h4>CVRT</h4>
              </div>
              <div class="icon">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <label>{{ 'EDIT_BOOKING.ASSET_LOCATION' | translate }}</label>
                <h4>DUBLIN</h4>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <h4>{{ 'EDIT_BOOKING.DRIVER_MOBILE' | translate }}</h4>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <label>{{ 'EDIT_BOOKING.DUE_DATE' | translate }}</label>
                <h4>22/11/2021</h4>
              </div>
            </div>
            <div class="info-item mb-2">
              <div class="content">
                <label>{{ 'EDIT_BOOKING.BUY' | translate }}</label>
                <h4>TRAILER BAY 2</h4>
              </div>
              <div class="content">
                <label>{{ 'EDIT_BOOKING.BUY' | translate }}</label>
                <h4>TRAILER BAY 2</h4>
              </div>
              <div class="icon">
                <i class="fas fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="title">{{ 'EDIT_BOOKING.SHOW_DETAILS' | translate }}</h3>
            <div class="info-item mb-2">
              <div class="content">
                <label class="bold">{{ 'EDIT_BOOKING.OWNER' | translate }} <span>ASSETSMINDER LTD</span></label>
                <label class="bold">{{ 'EDIT_BOOKING.STREET' | translate }} 1 : <span>SUITE 2</span></label>
                <label class="bold">{{ 'EDIT_BOOKING.STREET' | translate }} 2 : <span>SUITE 59</span></label>
                <label class="bold">{{ 'EDIT_BOOKING.TOWN' | translate }} : <span>CARRICKMINES</span></label>
              </div>
            </div>
            <div class="info-item">
              <div class="content">
                <label class="bold">{{ 'EDIT_BOOKING.INVOICE' | translate }} <span>ASSETSMINDER LTD</span></label>
                <label class="bold">{{ 'EDIT_BOOKING.STREET' | translate }} 1 : <span>SUITE 2</span></label>
                <label class="bold">{{ 'EDIT_BOOKING.STREET' | translate }} 2 : <span>SUITE 59</span></label>
                <label class="bold">{{ 'EDIT_BOOKING.TOWN' | translate }} : <span>CARRICKMINES</span></label>
              </div>
            </div>
            <div class="multi-booking">
              <h4>{{ 'EDIT_BOOKING.MULTI_DAY_BOOKING' | translate }}</h4>
              <div class="switch-container">
                <input type="checkbox" id="switch" />
                <label for="switch" class="switch-label">
                  <div class="switch-rail">
                    <div class="switch-slider"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_2 mb-3">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <h3 class="title">{{ 'EDIT_BOOKING.TIME_PERIOD' | translate }}</h3>
            <div class="row">
              <div class="col-lg-5 ps-0">
                <div class="info-item">
                  <div class="content">
                    <label>{{ 'EDIT_BOOKING.FROM' | translate }}</label>
                    <h4>8:00</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 pe-0">
                <div class="info-item">
                  <div class="content">
                    <h4>21/11/2021</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row no-title">
              <div class="col-lg-5 ps-0">
                <div class="info-item">
                  <div class="content">
                    <label>{{ 'EDIT_BOOKING.TO' | translate }}</label>
                    <h4>16:00</h4>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 pe-0">
                <div class="info-item">
                  <div class="content">
                    <h4>25/11/2021</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row no-title">
              <div class="col-lg-6">
                <button type="button" class="btn btn-primary close">{{ 'BUTTONS.CLOSE' | translate }}</button>
              </div>

              <div class="col-lg-6">
                <button type="button" class="btn btn-primary save">{{ 'BUTTONS.SAVE_BOOKING' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_3 mb-3">
    <div class="row">
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-primary cancel">{{ 'BUTTONS.CANCEL_BOOKING' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_4">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4 ps-0 item">
            <div class="card">
              <div class="card-body">
                <div class="content">
                  <div class="icon"></div>
                  <div class="info">
                    <h4 class="title">NEWS ITEM NO1</h4>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 item">
            <div class="card">
              <div class="card-body">
                <div class="content">
                  <div class="icon"></div>
                  <div class="info">
                    <h4 class="title">NEWS ITEM NO1</h4>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pe-0 item">
            <div class="card">
              <div class="card-body">
                <div class="content">
                  <div class="icon"></div>
                  <div class="info">
                    <h4 class="title">NEWS ITEM NO1</h4>
                    <p class="description">Lorem Ipsum is simply dummy text of the printing</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
