<div class="left-navbar">
  <div class="burger-menu">
    <div class="item">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="menu">
    <div class="item" *ngFor="let item of menu" routerLink="{{ item.link }}" routerLinkActive="active-menu">
      <div class="mask"></div>
      <div class="content">
        <div class="icon">
          <img [src]="item.icon" />
        </div>
        <h3 class="name">{{ item.name }}</h3>
      </div>
    </div>
  </div>
</div>
