@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';
.left-navbar {
  width: 100px;
  background-color: $gray-03;
  height: 100%;
  padding: 15px 0 5px 10px;
  .burger-menu {
    text-align: center;
    color: #fff;
  }
  .menu {
    margin-top: 1rem;
    .item {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 5px;
      cursor: pointer;
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $light-bg;
        border-radius: 7px 0 0 7px;
        display: none;
      }

      .content {
        width: 96%;
        height: 85%;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.3s ease all;
        z-index: 2;
        padding: 5px;
        .icon {
          padding-bottom: 5px;
          img {
            width: 100%;
            max-width: 18px;
          }
        }
        .name {
          font-size: 9px;
          line-height: 11px;
          color: #fff;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
      .submenu {
        width: 200px;
        background-color: $primary;
        border: 1px solid $gray-01;
        border-radius: 5px;
        position: absolute;
        z-index: 100;
        left: 93px;
        .item {
          padding: 5px 15px;
          border-bottom: 1px solid $gray-01;
        }
      }
      &:hover {
        // background-color: $primary;
        border-radius: 7px;
        // height: 65px;
        .content {
          background-color: $primary;
          // top: 7px;
        }
        .mask {
          display: block;
        }
      }
      &.active-menu {
        // background-color: $primary;
        border-radius: 7px;
        // height: 65px;
        .content {
          background-color: $primary;
          // top: 7px;
        }
        .mask {
          display: block;
        }
      }
    }
  }
}
