@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

.card {
  height: 100%;
}

.job-card-page {
  display: flex;
  padding: 0 10px;
  .section_1 {
    padding: 0 15px;
    width: 30%;
    .asset_id {
      background-color: $primary;
      padding: 5px 15px;
      border-radius: 7px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      .id {
        text-transform: uppercase;
      }
    }
    .image {
      height: 150px;
      background-image: url('/assets/images/truck.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 7px;
    }
    .info-item {
      background-color: $gray-04;
      border: 1px solid $gray-05;
      border-radius: 7px;
      padding: 5px 15px;
      display: flex;
      flex-direction: column;
      label {
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
      }
      .icon {
        font-size: 20px;
      }
    }
    .status,
    .usage {
      padding: 10px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      text-transform: uppercase;
      label {
        font-size: 12px;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
      }
    }
    .status {
      background-color: $green;
    }
    .usage {
      background-color: $gray-03;
    }
    .owner,
    .maintenance {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      .open {
        color: $primary;
      }
    }
    .parts,
    .labour {
      background-color: #fff;
      border: 1px solid $gray-01;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
      padding: 20px 10px;
      label {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
      }
      h4 {
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 0;
      }
    }
  }
  .section_2 {
    padding: 0 15px;
    width: 30%;
    .standard,
    .deffects,
    .planned,
    .swots {
      padding: 15px;
      border: 1px solid $gray-01;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 180px;
      label {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 2rem;
      }
      .number {
        font-size: 50px;
        font-weight: 700;
        color: $primary;
        position: relative;
        line-height: 60px;
        .top {
          position: absolute;
          font-size: 16px;
          font-weight: 700;
          color: #000;
          top: -13px;
          right: -15px;
        }
      }
    }
    .standard,
    .swots {
      background-color: $gray-06;
    }
    .deffects,
    .planned {
      background-color: $gray-04;
    }
    .info-item {
      display: flex;
      align-items: stretch;
      border: 1px solid $primary;
      border-radius: 7px;
      .logo-icon {
        padding: 25px;
        background-color: $primary;
        border-radius: 6px 0 0 6px;
      }
      .content-block {
        padding: 10px 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .summary {
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          width: 100%;
          text-transform: uppercase;
        }
        .icon {
          border: 1px solid #000;
          border-radius: 50px;
          width: 27px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .total,
    .received,
    .order {
      border: 1px solid $gray-06;
      padding: 15px;
      background-color: $gray-04;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 7px;
      label {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 18px;
      }
      h3 {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 0;
        color: $primary;
      }
    }
    .received h3 {
      color: $gray-07;
    }
    .info-block {
      border: 1px solid $gray-01;
      border-radius: 7px;
      padding: 15px;
      .users {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10px;
        margin-bottom: 0.5rem;
        .user-info {
          border-radius: 50px;
          color: #fff;
          font-size: 9px;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &:nth-child(1) {
            background-color: $green;
          }
          &:nth-child(2) {
            background-color: $purple;
            left: -5px;
          }
          &:nth-child(3) {
            background-color: $blue;
            left: -10px;
            z-index: 5;
          }
        }
      }
      label {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
      }
      h4 {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  .section_3 {
    padding: 0 15px;
    width: 30%;
    .job-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $gray-01;
      border-radius: 7px;
      padding: 5px 15px;
      .title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
      }
      .status-block {
        .status-color {
          padding: 13px 20px;
          border-radius: 7px;
          background-color: $orange;
        }
        .status {
          margin: 0;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 500;
          text-align: center;
        }
      }
    }
    .info-item {
      background-color: $gray-06;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      text-transform: uppercase;
      label {
        font-size: 14px;
        font-weight: 700;
        span {
          font-weight: 500;
        }
      }
      .icon {
        border-left: 1px solid #000;
        padding-left: 15px;
      }
      &.close-job {
        background-color: #fff;
        justify-content: flex-start;
        border: 1px solid $gray-01;
        label {
          text-align: center;
          width: 100%;
        }
      }
    }
    .info-table {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      border: 1px solid $gray-01;
      border-radius: 7px;
      .item {
        padding: 15px;
        font-size: 15px;
      }
    }
  }
  .right-bar {
    width: 10%;
    padding: 0 15px;
  }
}
