<div class="job-card-page">
  <div class="section_1">
    <div class="card">
      <div class="card-body">
        <div class="asset_id mb-2">
          <div class="icon"></div>
          <div class="id">{{ 'JOB_INFO.ASSET_ID' | translate }}: 12D4586</div>
          <div class="icon">
            <i class="fas fa-arrow-circle-right" (click)="openDialogInfo()"></i>
          </div>
        </div>
        <div class="image mb-2"></div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.FLEET_ID' | translate }}</label>
          <p>VL285</p>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.VIN' | translate }}</label>
          <p>VMA1235</p>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.MODEL' | translate }}</label>
          <p>CVRT</p>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.LOCATION' | translate }}</label>
          <p>PARKWEST</p>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 ps-0 pe-2">
            <div class="status">
              <label>{{ 'JOB_INFO.STATUS' | translate }}</label>
              <h4>AVAILABLE</h4>
            </div>
          </div>
          <div class="col-sm-6 pe-0 ps-2">
            <div class="usage">
              <label>{{ 'JOB_INFO.USAGE' | translate }}</label>
              <h4>100.000 KM</h4>
            </div>
          </div>
        </div>
        <div class="info-item owner mb-2">
          <div>
            <label>{{ 'JOB_INFO.OWNER' | translate }}</label>
            <p>Automative Services LTD</p>
          </div>
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="info-item maintenance mb-2">
          <p>{{ 'JOB_INFO.MAINTENANCE_HISTORY' | translate }}: 27 JOBS (<span class="open">2 open</span>)</p>
          <div class="icon">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6 ps-0 pe-2">
            <div class="parts">
              <label>{{ 'JOB_INFO.PARTS' | translate }}</label>
              <h4>€19.329</h4>
            </div>
          </div>
          <div class="col-sm-6 pe-0 ps-2">
            <div class="labour">
              <label>{{ 'JOB_INFO.LABOUR' | translate }}</label>
              <h4>€4.814</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_2">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-lg-6 ps-0">
            <div class="standard">
              <label>{{ 'JOB_INFO.STANDARD' | translate }}</label>
              <div class="number">
                7
                <span class="top">2</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-0">
            <div class="deffects">
              <label>{{ 'JOB_INFO.DEFECTS' | translate }}</label>
              <div class="number">
                3
                <span class="top">1</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-6 ps-0">
            <div class="planned">
              <label>{{ 'JOB_INFO.PLANNED' | translate }}</label>
              <div class="number">
                2
                <span class="top">0</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-0">
            <div class="swots">
              <label>{{ 'JOB_INFO.SWOTS' | translate }}</label>
              <div class="number">
                4
                <span class="top">3</span>
              </div>
            </div>
          </div>
        </div>
        <div class="info-item mb-2">
          <div class="logo-icon"></div>
          <div class="content-block">
            <div class="summary">{{ 'JOB_INFO.PARTS_SUMMARY' | translate }}</div>
            <div class="icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-4 ps-0">
            <div class="total">
              <label>{{ 'JOB_INFO.TOTAL' | translate }}</label>
              <h3>9</h3>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="received">
              <label>{{ 'JOB_INFO.RECEIVED' | translate }}</label>
              <h3>4</h3>
            </div>
          </div>
          <div class="col-lg-4 pe-0">
            <div class="order">
              <label>{{ 'JOB_INFO.ON_ORDER' | translate }}</label>
              <h3>5</h3>
            </div>
          </div>
        </div>
        <div class="info-item mb-2">
          <div class="logo-icon"></div>
          <div class="content-block">
            <div class="summary">{{ 'JOB_INFO.LABOUR_SUMMARY' | translate }}</div>
            <div class="icon">
              <i class="fas fa-plus"></i>
            </div>
          </div>
        </div>
        <div class="info-block">
          <div class="users">
            <div class="user-info">DM</div>
            <div class="user-info">BA</div>
            <div class="user-info">GV</div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>{{ 'JOB_INFO.WORKED' | translate }}</label>
              <h4>22.50</h4>
            </div>
            <div class="col-lg-4">
              <label>{{ 'JOB_INFO.CHARGED' | translate }}</label>
              <h4>18.25</h4>
            </div>
            <div class="col-lg-4">
              <label>{{ 'JOB_INFO.DELTA' | translate }}</label>
              <h4>4.25</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_3">
    <div class="card">
      <div class="card-body">
        <div class="job-number mb-2">
          <div class="logo-icon"></div>
          <h4 class="title">{{ 'JOB_INFO.JOB_NUMBER' | translate }} : 12345</h4>
          <div class="status-block">
            <div class="status-color"></div>
            <p class="status">{{ 'ACTIONS.PENDING' | translate }}</p>
          </div>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.JOB_PRIORITY' | translate }} : <span>Medium</span></label>
          <div class="icon">
            <i class="fas fa-sort-down"></i>
          </div>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.JOB_TYPE' | translate }} : <span>General maintenance</span></label>
          <div class="icon">
            <i class="fas fa-sort-down"></i>
          </div>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.STARTING_ORDER' | translate }} : <span>ASC339192</span></label>
        </div>
        <div class="info-item mb-2">
          <label>{{ 'JOB_INFO.FINISHING_ORDER' | translate }} #: <span>ASC339181</span></label>
        </div>
        <div class="info-table mb-2">
          <div class="row">
            <div class="offset-lg-3 col-lg-3 item">{{ 'JOB_INFO.SELL_PRICE' | translate }}</div>
            <div class="col-lg-3 item">{{ 'JOB_INFO.MARGIN' | translate }}</div>
            <div class="col-lg-3 item">{{ 'JOB_INFO.PERCENT' | translate }}</div>
          </div>
          <div class="row">
            <div class="col-lg-3 item">{{ 'JOB_INFO.PARTS' | translate }}</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">42.00</div>
          </div>
          <div class="row">
            <div class="col-lg-3 item">{{ 'JOB_INFO.LABOUR' | translate }}</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">16.00</div>
          </div>
          <div class="row">
            <div class="col-lg-3 item">{{ 'JOB_INFO.SWOTS' | translate }}</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">4.00</div>
          </div>
          <div class="row">
            <div class="col-lg-3 item">{{ 'JOB_INFO.TOTAL' | translate }}</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">100.00</div>
            <div class="col-lg-3 item">72.00</div>
          </div>
        </div>
        <div class="info-item close-job">
          <div class="logo-icon"></div>
          <label>{{ 'JOB_INFO.CLOSE_JOB' | translate }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="right-bar">
    <app-right-navbar></app-right-navbar>
  </div>
</div>
