/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fleetminder-web-angular-primary: mat.define-palette(mat.$indigo-palette);
$fleetminder-web-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fleetminder-web-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fleetminder-web-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $fleetminder-web-angular-primary,
      accent: $fleetminder-web-angular-accent,
      warn: $fleetminder-web-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($fleetminder-web-angular-theme);

@import 'src/assets/styles/bootstrap';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'src/assets/styles/material';
@import 'src/assets/styles/colors';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  background-color: $light-bg;
}

.error {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-shadow: 2px -1px 3px #000000;
}

button,
input {
  &:active,
  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
  }
}

.row {
  margin: 0;
}

img {
  max-width: 100%;
}

input {
  background-color: $gray-04 !important;
  color: #000;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  &:focus,
  &:active {
    border-color: $gray-01 !important;
  }
  &::placeholder {
    color: #000 !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.input-group-prepend,
.input-group-append {
  background-color: $gray-04 !important;
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 5px;
  .input-group-text {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $gray-04 !important;
    border: none;
  }
}

.custom-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  input {
    position: absolute;
    opacity: 0;
    & + label {
      position: absolute;
      top: 0;
      left: 0;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 1px solid $gray-01;
        border-radius: 3px;
      }
    }
    &:checked {
      & + label::after {
        content: '';
        background-image: url('/assets/images/icons/check.png');
        background-size: cover;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.w-100 {
  width: 100%;
}
