$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 320px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1020px,
  // Extra large screen / wide desktop
  xl: 1440px
) !default;

$container-max-widths: (
  xs: 330px,
  sm: 758px,
  md: 930px,
  lg: 930px,
  xl: 1400px,
) !default;

@import 'bootstrap/scss/_functions.scss';
@mixin _assert-ascending($map, $map-name) {
}

@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';
