<div class="truck-bg" [style]="styleProps">
  <div class="container">
    <div class="blocks">
      <div class="row">
        <div class="col-lg-2 item">
          <div class="card">
            <div class="card-body">
              <label>{{ 'DIALOG.JOB_INFO.WARRANTY' | translate }}</label>
              <h3>2</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-2 item">
          <div class="card">
            <div class="card-body">
              <label>{{ 'DIALOG.JOB_INFO.EVENTS' | translate }}</label>
              <h3>4</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-2 item">
          <div class="card">
            <div class="card-body">
              <label>{{ 'DIALOG.JOB_INFO.DEFECTS' | translate }}</label>
              <h3>1</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-2 item">
          <div class="card">
            <div class="card-body">
              <label>{{ 'DIALOG.JOB_INFO.JOB_CARDS' | translate }}</label>
              <h3>6</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-2 item">
          <div class="card">
            <div class="card-body">
              <label>{{ 'DIALOG.JOB_INFO.WARRANTY' | translate }}</label>
              <h3>3</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-2 item">
          <div class="card">
            <div class="card-body">
              <label>{{ 'DIALOG.JOB_INFO.TELEMENTRY' | translate }}</label>
              <h3>4</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <div class="row">
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary job-number">{{'DIALOG.JOB_INFO.JOB_NUMBER'|translate}} : AM253F2</button>
        </div>
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary continue">{{'DIALOG.JOB_INFO.CONTINUE_JOB_CARD'|translate}}</button>
        </div>
        <div class="col-lg-4">
          <button type="button" class="btn btn-primary cancel" (click)="cancel()">{{'BUTTONS.CANCEL'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
