@import 'src/assets/styles/bootstrap';
@import 'src/assets/styles/colors';

::ng-deep {
  .mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .cdk-overlay-dark-backdrop {
    background-color: #000000a8;
  }
}

.truck-bg {
  background-image: url('/assets/images/truck-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  .container {
    position: relative;
    .blocks {
      width: 800px;
      position: absolute;
      top: 60px;
      left: 332px;
      text-transform: uppercase;
      .item {
        padding: 0 5px;
        .card-body {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          label {
            font-size: 13px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 1.5rem;
          }
          h3 {
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            color: $primary;
          }
        }
      }
    }
    .buttons {
      width: 800px;
      position: absolute;
      top: 14rem;
      left: 332px;
      text-transform: uppercase;
      button {
        width: 100%;
        &.job-number,
        &.cancel {
          background-color: $primary;
          border: 3px solid #fff;
        }
        &.continue {
          background-color: #fff;
          border: 3px solid #000;
          color: #000;
        }
      }
    }
  }
}
